[Desktop Entry]
Name=Hexalate
Name[cs]=Hexalate
Name[de]=Hexalate
Name[es]=Hexalate
Name[hu]=Hexalate
Name[lt]=Hexalate
Name[ms]=Hexalate
Name[nl]=Hexalate
Name[pl]=Hexalate
Name[pt_BR]=Hexalate
Name[ro]=Hexalate
Name[tr]=Hexalate
GenericName=Color Matching Game
GenericName[cs]=Hra o shodě barev
GenericName[de]=Farbenrätsel
GenericName[es]=Juego de igualación de colores
GenericName[hu]=Színkereső játék
GenericName[lt]=Spalvų Sutapimo Žaidimas
GenericName[ms]=Permainan Padanan Warna
GenericName[nl]=Kleurzoeker spel
GenericName[pl]=Gra dopasowania kolorów
GenericName[pt_BR]=Jogo de combinação de cores
GenericName[ro]=Joc de potrivire a culorilor
GenericName[tr]=Renk Eşleştirme Oyunu
Comment=Spin circles to match colors
Comment[cs]=Otáčejte kruhy tak, aby se barvy shodovaly
Comment[de]=Drehen Sie Kreise, um Farben in Übereinstimmung zu bringen
Comment[lt]=Sukite ratus, kad sutaptų spalvos
Comment[ms]=Putar bulatan untuk padankan warna
Comment[ro]=Rotiţi cercurile pentru potrivirea culorilor
Exec=hexalate
Icon=hexalate
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
