[Desktop Entry]
Name=Hexalate
Name[cs]=Hexalate
Name[de]=Hexalate
Name[es]=Hexalate
Name[et]=Hexalate
Name[fr]=Hexalate
Name[hu]=Hexalate
Name[lt]=Hexalate
Name[ms]=Hexalate
Name[nl]=Hexalate
Name[pl]=Hexalate
Name[pt]=Hexalate
Name[pt_BR]=Hexalate
Name[ro]=Hexalate
Name[ru]=Hexalate
Name[tr]=Hexalate
Name[zh]=Hexalate
GenericName=Color Matching Game
GenericName[cs]=Hra o shodě barev
GenericName[de]=Farbenrätsel
GenericName[es]=Juego de Coincidir Colores
GenericName[fr]=Color Matching Game
GenericName[hu]=Színpárosító játék
GenericName[lt]=Spalvų sutapimo žaidimas
GenericName[ms]=Permainan Padanan Warna
GenericName[nl]=Kleurkoppelspel
GenericName[pl]=Gra dopasowania kolorów
GenericName[pt]=Jogo de Correspondência de Cores
GenericName[pt_BR]=Jogo de combinação de cores
GenericName[ro]=Joc de potrivire a culorilor
GenericName[ru]=Игра подбора цветов
GenericName[tr]=Renk Eşleştirme Oyunu
GenericName[zh]=颜色搭配游戏
Comment=Spin circles to match colors
Comment[cs]=Otáčejte kruhy tak, aby se barvy shodovaly
Comment[de]=Drehen Sie Kreise, um Farben in Übereinstimmung zu bringen
Comment[es]=Gire los círculos para hacer coincidir los colores
Comment[fr]=Faire tourner les cercles pour faire correspondre les couleurs
Comment[hu]=Forgassa a köröket a színek illesztéséhez
Comment[lt]=Sukite ratus, kad sutaptų spalvos
Comment[ms]=Putar bulatan untuk padankan warna
Comment[nl]=Draai cirkels om kleuren te koppelen
Comment[pl]=Obróć koła, aby dopasować kolory
Comment[pt]=Rode os círculos para corresponder as cores
Comment[pt_BR]=Rode os círculos para combinar as cores.
Comment[ro]=Rotiţi cercurile pentru potrivirea culorilor
Comment[ru]=Вращайте круги, чтобы сопоставить цвета
Comment[tr]=Renkleri eşleştirmek için daireleri döndürün
Comment[zh]=旋转圆盘以搭配颜色
TryExec=hexalate
Exec=hexalate
Icon=hexalate
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
Keywords=game;logic;
