[Desktop Entry]
Name=Hexalate
Name[de]=Hexalate
Name[es]=Hexalate
Name[hu]=Hexalate
Name[ms]=Hexalate
Name[pl]=Hexalate
Name[pt_BR]=Hexalate
Name[ro]=Hexalate
Name[tr]=Hexalate
GenericName=Color Matching Game
GenericName[de]=Farbabstimmungsspiel
GenericName[es]=Juego de igualación de colores
GenericName[hu]=Színkereső játék
GenericName[ms]=Permainan Memadankan Warna
GenericName[pl]=Gra dopasowania kolorów
GenericName[pt_BR]=Jogo de combinação de cores
GenericName[ro]=Joc de potrivire culori
GenericName[tr]=Renk Eşleştirme Oyunu
Exec=hexalate
Icon=hexalate
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
